@font-face {
    font-family: 'parsienne';
    src: url('/fonts/Parisienne/Parisienne-Regular.ttf');
}

@font-face {
    font-family: 'als-script';
    src: url('/fonts/ALS Script/alsscrp.ttf');
}

@font-face {
    font-family: 'Cormorant';
    src: url("/fonts/Cormorant/CormorantGaramond-Bold.ttf");
    font-weight: 900;
    font-style: bold;
}

@font-face {
    font-family: 'Cormorant';
    src: url("/fonts/Cormorant/CormorantGaramond-BoldItalic.ttf");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url("/fonts/Cormorant/CormorantGaramond-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url("/fonts/Cormorant/CormorantGaramond-Light.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url("/fonts/Cormorant/CormorantGaramond-LightItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url("/fonts/Cormorant/CormorantGaramond-Medium.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url("/fonts/Cormorant/CormorantGaramond-MediumItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url("/fonts/Cormorant/CormorantGaramond-Regular.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url("/fonts/Cormorant/CormorantGaramond-SemiBold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url("/fonts/Cormorant/CormorantGaramond-SemiBoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}


.parsienne {
    font-family: 'parsienne';
}

.als-script {
    font-family: 'als-script';
}

.cormorant-bold {
    font-family: 'Cormorant';
    font-weight: 900;
}

.cormorant-bold-italic {
    font-family: 'Cormorant';
    font-weight: 900;
    font-style: italic;
}

.cormorant-italic {
    font-family: 'Cormorant';
    font-weight: 400;
    font-style: italic;
}

.cormorant-light {
    font-family: 'Cormorant';
    font-weight: 100;
    font-style: normal;
}

.cormorant-light-italic {
    font-family: 'Cormorant';
    font-weight: 100;
    font-style: italic;
}

.cormorant-medium {
    font-family: 'Cormorant';
    font-weight: 600;
    font-style: normal;
}

.cormorant-medium-italic {
    font-family: 'Cormorant';
    font-weight: 600;
    font-style: italic;
}

.cormorant-regular {
    font-family: 'Cormorant';
    font-weight: 400;
    font-style: normal;
}

.cormorant-semibold {
    font-family: 'Cormorant';
    font-weight: 700;
    font-style: normal;
}

.cormorant-semibold-italic {
    font-family: 'Cormorant';
    font-weight: 700;
    font-style: italic;
}

/* In your css file where you want to use the font */
/* .element {
    font-family: 'font-name';
} */