body {
    background-color: #fff !important;
}

.handphone-width {
    max-width: 415px;
    width: auto;
}

.background-paper {
    /* background: url("../assets/images/BG\ -\ Asset\ -\ Small.jpg") repeat; */
    /* background: url("../assets/images/so-white.png") repeat; */
    background: url("../assets/images/BG-New.jpg") repeat;
    /* background-size: cover; */
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}

.text-grey {
    color: #5E5E5E;
}

.btn-coklat {
    background-color: #AE8F7A;
    border-color: #AE8F7A;
    color: #FFF;
    text-decoration: none;
    transition: .3 ease;
}

.btn-coklat:hover {
    background-color: #947a68;
    border-color: #947a68;
}